[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-xdist = "*"
coverage = "*"

[packages]
#fuse-python = "*"
fb3cf0b = {editable = true,path = "./python-fuse"}

[requires]
#python_version = "3.7"
